<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Enable Internet Permission for Live Store Price Comparison API -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- GPS & Network Location Permissions for Exact Location Detection -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Required on Android 11+ (API 30+) to query and detect installed shopping and pharmacy apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <!-- Top Indian E-Commerce, Quick-Commerce & Pharmacy App Packages -->
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="com.flipkart.android" />
        <package android:name="com.grofers.customerapp" />
        <package android:name="com.blinkit.app" />
        <package android:name="com.zepto.consumer" />
        <package android:name="com.zeptonow" />
        <package android:name="com.aranoah.healthkart.plus" />
        <package android:name="com.mruniversal.pharmeasy" />
        <package android:name="com.apollo.patientapp" />
        <package android:name="com.netmeds.marketplace" />
        <package android:name="com.bigbasket.mobileapp" />
        <package android:name="com.jio.jiomart" />
        <package android:name="com.croma.app" />
        <package android:name="com.reliancedigital.store" />
        <package android:name="com.android.chrome" />

        <!-- Generic Intent Queries for Web and Deep Links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="amazon" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="flipkart" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="grofers" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="blinkit" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="zepto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="pharmeasy" />
        </intent>
    </queries>

    <application
        android:label="SmartPrice AI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
